<div class="food_form_container">
  <%= form_for @food, url: foods_path, method: :post, html: { class: 'food_form' } do |f| %>
    <%= f.label :name, class: "form_field_label" %>
    <%= f.text_field :name, class: "form_field" %>
    <%= f.label :measurement_unit, class: "form_field_label" %>
    <%= f.text_field :measurement_unit, class: "form_field" %>
    <%= f.label :price, class: "form_field_label" %>
    <%= f.text_field :price, class: "form_field" %>
    <%= f.submit "submit", class: "food_form_submit_btn"%>
  <% end %>  
</div>
